<h1>Welcome</h1>

<p>Enter your username and password</p>

<%= form_tag("/session/authenticate_user",method:"post") do %>
  <p>Username:
    <%=text_field_tag "username" %>
  </p>
  <p>Password
    <%= password_field_tag "password" %>
  </p>
  <%=submit_tag "Login" %>
<% end %>
