<!DOCTYPE html>
<html>
<head>
  <title>SessionsDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless session[:user].nil? %>
    <h1>Welcome <%=session[:user] %> </h1>
    <p><%= link_to "Log out",session_logout_path%></p>
<% end %>

<%= yield %>

</body>
</html>
